<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- og meta contents -->>
    <meta property="og:title" content="Steam Recommend">
    <meta property="og:image" content="{{url_for('static', filename='images/logo.png')}}">
    <meta property="og:description" content="간단한 스팀 게임 추천 사이트">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- AOS CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='svg/controller.svg') }}">
    <title>Steam Recommend</title>
    <style>
      body {
        background-color: rgb(34, 37, 41);
      }
    </style>
  </head>
  <body>

    <!-- 네비게이션바 -->
    {% include "navbar.html" %}
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->


    <!-- Include the Bootstrap Bundle JavaScript file -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- Include the AOS JavaScript file -->
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>

    <!-- Initialize AOS -->
    <script>
      AOS.init();
    </script>
    <!-- 자바스크립트 Start -->
    {% block script %}
    {% endblock %}
    <!-- 자바스크립트 End -->

      
  </body>
</html>
