<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <ul class="nav col-md-4 justify-content-start">
            <li class="nav-item">
        <a href="https://github.com/line1029" class="nav-link px-2 text-muted">
            Made by line1029
        </a></li>
    </ul>
  
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{{url_for("main.about")}}" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
  </div>